.container {
  text-align: justify;
  margin: 0;
  padding: 0;
  width: 100%;
  word-spacing: 0px;
  line-height: 0.4;
}

span {
  overflow: hidden;
}

.one {
  font-size: 10px;
}

.two {
  font-size: 14px;
}

.three {
  font-size: 18px;
}

.four {
  font-size: 22px;
}

.five {
  font-size: 26px;
}

.six {
  font-size: 30px;
}

.seven {
  font-size: 34px;
}

.eight {
  font-size: 38px;
}

.nine {
  font-size: 42px;
}

.ten {
  font-size: 46px;
}
