{% extends 'base.html' %}

{% block title %}make a cloud {% endblock %}

{% block content %}
  <div class="container">
    <form class="form-horizontal paste-text-form" action="/word-cloud" method="GET">
      <div class="form-group row">
        <label for="text-input" class="col-sm-2 control-label">Paste text:</label>
        <textarea id="text-input" class="col-sm-10 form-control" name="text-to-cloud" rows="3"></textarea>
      </div>
      <div class"row">
        <input type="submit" class="col-sm-offset-5 col-sm-2 btn btn-default" value="make word cloud!">
      </div>
    </form>
  </div>

{% endblock %}